<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrdios.foodie.mapper.ItemsMapper">
    <resultMap id="BaseResultMap" type="com.mrdios.foodie.pojo.Items">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="cat_id" property="catId" jdbcType="INTEGER"/>
        <result column="root_cat_id" property="rootCatId" jdbcType="INTEGER"/>
        <result column="sell_counts" property="sellCounts" jdbcType="INTEGER"/>
        <result column="on_off_status" property="onOffStatus" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!-- 商品搜索-关键字 -->
    <select id="searchItems" parameterType="map" resultType="com.mrdios.foodie.pojo.vo.SearchItemsVo">
        SELECT
        i.id AS itemId,
        i.item_name AS itemName,
        ii.url AS imgUrl,
        i.sell_counts AS sellCounts,
        spec.priceDiscount AS price
        FROM
        items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN ( SELECT item_id, MIN( price_discount ) AS priceDiscount FROM items_spec GROUP BY item_id ) spec ON
        i.id = spec.item_id
        WHERE
        ii.is_main = 1
        <if test="param.keywords != null and param.keywords != ''">
            AND i.item_name LIKE '%${param.keywords}%'
        </if>
        ORDER BY
        <choose>
            <when test="param.sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>
            <when test="param.sort == &quot;p&quot;">
                spec.priceDiscount DESC
            </when>
            <otherwise>
                i.item_name ASC
            </otherwise>
        </choose>
    </select>
    <!-- 商品搜索-三级分类 -->
    <select id="searchItemsByThirdCat" parameterType="map" resultType="com.mrdios.foodie.pojo.vo.SearchItemsVo">
        SELECT
        i.id AS itemId,
        i.item_name AS itemName,
        ii.url AS imgUrl,
        i.sell_counts AS sellCounts,
        spec.priceDiscount AS price
        FROM
        items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN ( SELECT item_id, MIN( price_discount ) AS priceDiscount FROM items_spec GROUP BY item_id ) spec ON
        i.id = spec.item_id
        WHERE
        ii.is_main = 1
        AND i.cat_id = #{param.catId}
        ORDER BY
        <choose>
            <when test="param.sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>
            <when test="param.sort == &quot;p&quot;">
                spec.priceDiscount DESC
            </when>
            <otherwise>
                i.item_name ASC
            </otherwise>
        </choose>
    </select>
    <!-- 根据商品规格查询商品信息-用于长时间未登录网站后进行购物车商品信息刷新 -->
    <select id="queryItemsBySpecIds" parameterType="List" resultType="com.mrdios.foodie.pojo.vo.ShopCartVo">
        SELECT
        t_item.id AS itemId,
        t_item.item_name AS itemName,
        t_item_img.url AS itemImgUrl,
        t_spec.id AS specId,
        t_spec.NAME AS specName,
        t_spec.price_discount AS priceDiscount,
        t_spec.price_normal AS priceNormal
        FROM
        items_spec t_spec
        LEFT JOIN items t_item ON t_spec.item_id = t_item.id
        LEFT JOIN items_img t_item_img ON t_item.id = t_item_img.item_id
        WHERE
        t_item_img.is_main = 1
        AND t_spec.id IN
        <foreach collection="specIds" index="index" item="specId" open="(" separator="," close=")">
            #{specId}
        </foreach>
    </select>

    <!-- 扣减库存 -->
    <update id="decreaseItemSpecStock">
        UPDATE
        items_spec
        SET
        stock = stock - #{buyCount}
        WHERE
        id = #{specId}
        AND
        stock >= #{buyCount}

    </update>
</mapper>